.recipe-modal {
    .card {
        border: 0;
        background: rgba(0, 0, 0, 0.03);

        .tab-content {
            padding: 8px 8px 0;
            .active {
                outline: none;
            }
        }

    }
    .form-control {
        background: transparent;
        border: none;
        border-bottom: 2px solid #dee2e6;
        box-shadow: none !important;
    }
    .nav-tabs .nav-link {
        color: #000;
        outline: none;
        border: none;
        border-bottom: 2px solid transparent;
        padding: 10px 15px;
        margin: 0 5px;
        &.active,
        &:hover {
            background: transparent;

            border-bottom: 2px solid #000;
        }
    }
}